<h1>アップロード画像一覧</h1>

<p>
  <strong>Image:</strong>
  <tbody>
    <% @upload_image.each do |upload_image| %>
    <%= upload_image.image %>
    <%= image_tag upload_image.image %>
    <% end %>
  </tbody>
</p>